<html>
    <head>
        {% if title %}
        <title>{{ title }} - DNS Management Service</title>
        {% else %}
        <title>Welcome to DNS Management Service</title>
        {% endif %}
        <style>
            table {
            width:30%;
            }
            tr:nth-of-type(odd) {
            background-color:#CEE3F6;
            }
            th {
            background-color:#58ACFA;
            }
            th, td {
            text-align:center;
            }
        </style>
    </head>
    <body>
        <div>
            Index: <a href="/index">Home</a> <a href="/search">Search</a> <a href="/add">Add</a>
            {% if user %}
            <span style="float:right"><a href="/history">{{ user }}</a></span>
            {% endif %}
        </div>
        <hr>
        <h1>DNS Management System</h1><p></p>
        {% block content %}
        {% endblock %}
    </body>
</html>
