{% extends "base.html" %}
{% block content %}
    <h2>Delete</h2>
    <form action="" method="post" name="delete">
        {{ form.hidden_tag() }}
        <p>
            Enter hostname (assumes {{ zone }}), FQDN, or IP address to delete:<br>
            {{ form.entry(size=80) }}<br>
            {% for error in form.entry.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Search"></p>
    </form>
{% endblock %}
