{% extends "base.html" %}
{% block content %}
    <h2>Search</h2>
        <p>
            Enter one or more search terms, separated by a space. If FQDN is not provided,
            search domain will be {{ zone }}.
        </p>
            <form action="" method="post" name="search">
            {{ form.hidden_tag() }}
            <div class="form">
                <div class="label">
                    {{ form.search_terms.label }}
                </div>
                {{ form.search_terms(size=80) }}
                {% for error in form.search_terms.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
        <br><br>
        <div class="submit">
            <input type="submit" value="Search" class="button">
        </div>
    </form>
{% endblock %}
