{% extends "base.html" %}
{% block content %}
    <h1>Search</h1>
    <form action="" method="post" name="search">
        {{ form.hidden_tag() }}
        <p>
            Enter one or more search terms, separated by a space:<br>
            {{ form.search_terms(size=80) }}<br>
            {% for error in form.search_terms.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Search"></p>
    </form>
    <h3>Note: If FQDN not provided, search domain will be: {{ zone }}</h3>
{% endblock %}
